# Python
__pycache__/
*.pyc
.venv/
.env

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# OS
.DS_Store
# Unity recordings / large media
unity/GridStressDigitalTwinUnity/Recordings/
*.mov
